html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(img/bg.png); /* fill edge blur */
    background-size: cover;
    transform-style: preserve-3d;
    margin: 0;
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.disabled {
    filter: brightness(0.5);
    pointer-events: none;
}

.card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    position: relative;
    width: min-content;
    top: 50%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    margin: auto;
}

/* Banner */

#banner {
    background-color: #00000080;
}

#banner-bg {
    max-width: 100vw;
    max-height: 100vh;
}

#mic {
    position: absolute;
    width: 7%;
    right: 56%;
    bottom: 8%;
}

#rules {
    position: absolute;
    width: 38%;
    height: 19%;
    right: 16%;
    bottom: 12%;
    transform: rotate(-8deg);
    color: white;
    font-size: 1.5vw;
    display: block;
    overflow: scroll;
}

#start {
    position: absolute;
    width: 22%;
    right: -2.4%;
    bottom: 17%;
    transform: rotate(-8deg);
    cursor: pointer;
}

/* Game */

#game {
    background-image: url(img/bg.png);
    background-size: cover;
}

#countdown {
    background: #00000080;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#countdown img {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tick0 {
    animation: 1s vwoom;
}
.tick1 {
    animation: 1s 1s vwoom;
}
.tick2 {
    animation: 1s 2s vwoom;
}
.tick3 {
    animation: 1s 3s vwoom;
}

@keyframes vwoom {
    0% {
        opacity: 0%;
        height: 80vh;
    }
    100% {
        opacity: 100%;
        height: 20vh;
    }
}

/* Top Bar */

#topbar {
    height: 10vh;
}

#topbar img {
    height: 10vh;
}

#shuffle {
    cursor: pointer;
}

/* Board and Tiles */

#board {
    background: #ffffff80;
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, auto);
    border: 1px solid white;
    border-radius: 2vh;
    margin: auto;
}

#board div {
    position: relative;
    width: 9vw;
    height: 9vw;
    max-width: 16vh;
    max-height: 16vh;
    cursor: pointer;
}

@media (orientation: portrait) {
    #board {
        grid-auto-flow: column;
        grid-template-rows: repeat(9, auto);
        direction: rtl;
    }
    #board div {
        position: relative;
        width: 9vh;
        height: 9vh;
        max-width: 16vw;
        max-height: 16vw;
    }
}

#board img {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* todo: below is temporary */
    /* filter: blur(2vh); */
    /* clip: rect(0, 14.4vh, 14.4vh, 0); */
}

#board div:hover:after, #board div.selected:after {
    content: "";
    background: url(img/selected.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#board div.selected:after {
    opacity: 1;
}

#board div.matched {
    animation: 300ms bloop forwards;
}

@keyframes bloop {
    0% {
        transform: translateZ(1px) scale(1);
    }
    50% {
        transform: translateZ(1px) scale(1.1);
    }
    100% {
        transform: translateZ(1px) scale(0);
    }
}

#pathmap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: drop-shadow(0 0 3px #fec75c); /* check caniuse for compatibility */
    pointer-events: none;
}

/* End Card */

.idle {
    filter: blur(1vh);
}

#result {
    background: #00000080;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#result-bg {
    max-width: 100vw;
    max-height: 100vh;
    transform: translate(-5%, -10%);
}

#again {
    position: absolute;
    width: 18%;
    right: 25%;
    bottom: 18%;
    cursor: pointer;
}
