html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background: url(img/bg.png);
    background-size: cover;
    margin: 0;
}

#container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

#banner {
    display: block;
}

#board {
    position: relative;
    width: min-content;
    display: grid;
    grid-template-columns: repeat(9, auto);
    margin: auto;
}

.card {
    position: relative;
    width: 9vw;
    max-width: 16vh;
    height: 9vw;
    max-height: 16vh;
}

@media (orientation: portrait) {
    #board {
        grid-auto-flow: column;
        grid-template-rows: repeat(9, auto);
        direction: rtl;
    }
    .card {
        position: relative;
        width: 9vh;
        max-width: 16vw;
        height: 9vh;
        max-height: 16vw;
    }
}

.card img {
    position: absolute;
    width: 90%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.card:hover:after {
    content: "";
    background: url(img/selected.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#linelayer {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 5px #fec75c);
}
