html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(img/bg.png); /* fill edge blur */
    background-size: cover;
    transform-style: preserve-3d;
    margin: 0;
    user-select: none;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.disabled {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    pointer-events: none;
}

.card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: min-content;
    top: 50%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    margin: auto;
}

/* Banner */

#banner {
    background: rgba(0, 0, 0, 128);
    background: #00000080;
}

#banner-bg {
    max-width: 100vw;
    max-height: 100vh;
    display: block;
}
.moded #banner-bg {
    -webkit-mask-image: linear-gradient(104deg, transparent 30%, black 50%);
    mask-image: linear-gradient(104deg, transparent 30%, black 50%);
}

#mic {
    position: absolute;
    width: 7%;
    left: 37%;
    top: 79%;
}

#mascot, #mascot2 {
    position: absolute;
    transition: .1s all;
}
#mascot2 {
    -webkit-filter: drop-shadow(-2vmin 2vmin 0px #0003);
    filter: drop-shadow(-2vmin 2vmin 0px #0003);
}

.modechanger {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

#rules {
    position: absolute;
    width: 38%;
    height: 19%;
    left: 45%;
    top: 70%;
    transform: rotate(-8deg);
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 5px black;
    display: block;
    overflow: auto;
}

#start {
    position: absolute;
    width: 22%;
    left: 80.4%;
    top: 61.2%;
    transform: rotate(-8deg);
    cursor: pointer;
}

/* Game */

#game {
    background-image: url(img/bg.png);
    background-size: cover;
}

#countdown {
    background: rgba(0, 0, 0, 128);
    background: #00000080;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#countdown img {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tick0 {
    animation: 1s vwoom;
}
.tick1 {
    animation: 1s 1s vwoom;
}
.tick2 {
    animation: 1s 2s vwoom;
}
.tick3 {
    animation: 1s 3s vwoom;
}

@keyframes vwoom {
    0% {
        opacity: 0;
        height: 80vmin;
    }
    100% {
        opacity: 1;
        height: 20vmin;
    }
}

/* Game */

#game .container {
    display: grid;
    grid-template:
        'a b c'
        'd d d'
    ;
    grid-template-columns: max-content auto max-content;
}

#recordtimelabel {
    height: 9vmin;
    grid-area: a;
    margin: auto;
}

#recordtime {
    grid-area: b;
}

.txt {
    color: #5b5973;
    font-family: 'Impact', 'Rockwell', sans-serif;
    font-size: 4vmin;
}

#shuffle {
    height: 7vmin;
    grid-area: c;
    margin: 1vmin auto;
    cursor: pointer;
}

#board {
    background: #ffffff80;
    position: relative;
    display: grid;
    grid-area: d;
    border: 1px solid white;
    border-radius: 2vmin;
    margin: auto;
}

#board div {
    position: relative;
    cursor: pointer;
}

@media (orientation: portrait) {
    #game .container {
        grid-template:
            'a b'
            'd d'
            'c c'
        ;
        grid-template-columns: max-content auto;
    }
    #board {
        grid-auto-flow: column;
        direction: rtl;
    }
}

#board img {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* todo: below is temporary */
    /* clip: rect(0, 14.4vh, 14.4vh, 0); */
}

#board div:hover:after, #board div.selected:after {
    content: "";
    background: url(img/selected.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#board div.selected:after {
    opacity: 1;
}

#board div.matched {
    animation: 300ms bloop forwards;
}

@keyframes bloop {
    0% {
        transform: translateZ(1px) scale(1);
    }
    50% {
        transform: translateZ(1px) scale(1.1);
    }
    100% {
        transform: translateZ(1px) scale(0);
    }
}

#pathmap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-filter: drop-shadow(0 0 3px #fec75c);
    filter: drop-shadow(0 0 3px #fec75c);
    pointer-events: none;
}

/* End Card */

.idle {
    -webkit-filter: blur(1vmin);
    filter: blur(1vmin);
}

#result {
    background: rgba(0, 0, 0, 128);
    background: #00000080;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#result-bg {
    max-width: 75vw;
    max-height: 75vh;
    transform: translate(-5%, -10%);
    display: block;
}
.moded #result-bg {
    -webkit-mask-image: linear-gradient(135deg, transparent 50%, black 60%);
    mask-image: linear-gradient(135deg, transparent 50%, black 60%);
}

#newrecord {
    position: absolute;
    width: 54%;
    left: 42%;
    top: 19%;
}

#victory {
    position: absolute;
    width: 34%;
    left: 50%;
    top: 19%;
}

#time2 {
    position: absolute;
    left: 62%;
    top: 51%;
    transform: translateY(-50%);
}

#earned {
    position: absolute;
    left: 81%;
    top: 61%;
    transform: translateY(-50%);
}

#again {
    position: absolute;
    width: 18%;
    left: 57%;

    top: 68%;
    cursor: pointer;
}
